/**
 * Styles for member portal stuff, including devise views for members
 */
@import 'bootstrap-datepicker3';

 .alert-list {
   list-style: none;
   padding-left: 0px;
 }

ul.qualifications {
  list-style: none;
  padding-left: 10px;
}

.member-sidenav {
  margin-top: 57px;
}

.member-status {
  margin-top: 63px;
  // .well { padding-top: 0px; }
  h3 {
    margin-top: 0px;
  }
}
.panel-title h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
